@{
    ViewData["Title"] = "Home Page";
}

<h1>Login</h1>
<a href="/register">register</a>

@if (TempData["error"] != null) {
    <span>@TempData["error"]</span>
}

<form action="/" method="POST">
    <label for="">Email:</label>
    <input type="email" name="email">
    <label for="">Password:</label>
    <input type="password" name="password">

    <input type="submit" value="Submit">
</form>