
@using Belt.Models
@model ValidatedEventActivity

<a href="/home">Home</a>

<h1>Create an Activity!</h1>

<form asp-action="CreateActivity" asp-controller="Home" method="POST">
    <span asp-validation-for="name"></span>
    <label asp-for="name">Name:</label>
    <input type="text" asp-for="name">

    <span asp-validation-for="time"></span>
    <label asp-for="time">Time:</label>
    <input type="text" asp-for="time">

    <span asp-validation-for="date"></span>
    <label asp-for="date">Date:</label>
    <input type="date" asp-for="date">

    <span asp-validation-for="duration"></span>
    <label asp-for="duration">Duration:</label>
    <input type="text" asp-for="duration">

    <select asp-for="scale">
        <option value="0">Minutes</option>
        <option value="1">Hours</option>
        <option value="2">Days</option>
    </select>

    <span asp-validation-for="description"></span>
    <label asp-for="description">Description:</label>
    <textarea asp-for="description"></textarea>

    <input type="submit" value="Create Activity">
</form>